@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&family=Stack+Sans+Text:wght@200..700&display=swap');
@import "tailwindcss";



button{
    font-family: 'Poppins', sans-serif;
}

.poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-style: italic;
}


:root {
  font-family: "Stack Sans Text", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.custom-inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-text-border {
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;
}


.custom-light-border {
    box-shadow: inset 2px 2px 0px rgba(255, 255, 255, 0.15), 5px 5px 10px rgba(0, 0,0, 0.5);
}

.custom-light-border-inset {
    box-shadow: 2px 2px 0px rgba(255, 255, 255, 0.15),inset 5px 5px 10px rgba(0, 0,0, 0.5);
}
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

/*firefow thumb*/
input[type=range]::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: transparent; /* Green background */
  border: transparent;
  cursor: pointer; /* Cursor on hover */
}
