@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  inset: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.custom-inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.custom-text-border {
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;
}


.custom-light-border {
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.25), 5px 5px 10px rgba(0, 0,0, 0.5);
}

.custom-light-border-inset {
    box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.25),inset 5px 5px 10px rgba(0, 0,0, 0.5);
}
